# Dépendances
node_modules/

# Dossiers de build
build/
dist/
web-dist/

# Fichiers temporaires
*.tmp
*.log
*.cache

# Fichiers de l'IDE
.vscode/
.idea/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration locaux
.env
.env.local
.env.production.local

# Cache npm
.npm/

# Cache Electron
.electron-builder/
dist_electron/